<!-- partials/footer.html -->
<footer class="app-footer py-3 bg-light border-top">
  <div class="container text-center small text-muted">

    <div class="mb-1">
      Portal HAAP ida ne’e kria husi <strong>World Mosaic</strong> ba no konsultasaun ho
      <strong>Ministeriu da Edukasaun Timor-Leste</strong> nu'udar parte ida husi inisiativa
      <b>Mary Mackillop Today EdTech for Early Learning (ETEL)</b> ne'ebe patrosina husi <strong>O'Brien Foundation Australia</strong>. 
    </div>

    <div>
      &copy; {{ "now" | date:"%Y" }} World Mosaic. Direitu rezervadu.
    </div>

  </div>
</footer>
