{% load static %}
<!-- partials/sidebar.html -->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!-- Sidebar Brand -->
  <div class="sidebar-brand">
    {%if user.role == "moe_admin" %}
    <a href="{% url 'core:moe_admin_dashboard' %}" class="brand-link">
    {% elif user.role == "parent" %}
    <a href="{% url 'core:children_list' %}" class="brand-link">
    {% elif user.role == "municipality_analyst" %}
    <a href="{% url 'core:municipality_dashboard' %}" class="brand-link">
    {% elif user.role == "teacher" %}
    <a href="{% url 'core:teacher_dashboard' %}" class="brand-link">
    {% else %}
    <a href="#" class="brand-link">
    {% endif %}
      <img
        src="{% static 'img/logo-ori.png' %}"
        alt="HAAP Logo"
        class="brand-image opacity-75 shadow"
      />
      <span class="brand-text fw-light">HAAP Dashboard</span>
    </a>
  </div>

  <!-- Sidebar Wrapper -->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="navigation"
        aria-label="Main navigation"
        data-accordion="false"
        id="navigation"
      >

        <!-- Dashboard -->
      {% if user.role == "moe_admin" %}
        <li class="nav-item">
          <a href="{% url 'core:moe_admin_dashboard' %}" class="nav-link active">
            <i class="nav-icon bi bi-speedometer2"></i>
            <p>Admin Dashboard </p>
          </a>
        </li>
        {% elif user.role == "parent" %}
        <li class="nav-item">
          <a href="{% url 'core:children_list' %}" class="nav-link active">
            <i class="nav-icon bi bi-speedometer2"></i>
            <p>Dashboard ba Pais</p>
          </a>
        </li>
      {% elif user.role == "municipality_analyst" %}
        <li class="nav-item">
          <a href="{% url 'core:municipality_dashboard' %}" class="nav-link active">
            <i class="nav-icon bi bi-bar-chart"></i>
            <p>Dashboard ba Munisipalidade</p>
          </a>
        </li>
      {% elif user.role == "teacher" %}
        <li class="nav-item">
          <a href="{% url 'core:teacher_dashboard' %}" class="nav-link active">
            <i class="nav-icon bi bi-journal-text"></i>
            <p>Dashboard ba Professor</p>
          </a>
        </li>
      {% endif %}

        {% if user.role == "moe_admin" %}
          <!-- User Management (Admin only) -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-people-fill"></i>
              <p>
                Utilizadores
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'core:user_management'%}" class="nav-link">
                  <i class="nav-icon bi bi-people-fill"></i>
                  <p>Utilizadores </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'core:user_management' %}?tab=parents" class="nav-link">
                  <i class="nav-icon bi-house-door"></i>
                  <p>Inan aman</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'core:user_management' %}?tab=teachers" class="nav-link">
                  <i class="nav-icon bi bi-person-raised-hand"></i>
                  <p>Formadores</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'core:user_management' %}?tab=analysts" class="nav-link">
                 <i class="nav-icon bi bi-person-arms-up"></i>
                  <p>Analista munisipal</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- APK Versions -->
          <li class="nav-item">
            <a href="{% url 'core:apk_list' %}" class="nav-link">
              <i class="nav-icon bi bi-phone"></i>
              <p>Versoes APK</p>
            </a>
          </li>

          <!-- System Settings -->
          <li class="nav-header">SISTEMA</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-gear-fill"></i>
              <p>Settings</p>
            </a>
          </li>
                  <!-- Logs (all roles can see) -->
        <li class="nav-item">
          <a href="{% url 'core:logs' %}" class="nav-link">
            <i class="nav-icon bi bi-activity"></i>
            <p>Atividades</p>
          </a>
        </li>
        {% elif user.role == "parent" %}
          <!-- Children for Parents -->
          <li class="nav-item">
            <a href="{% url 'core:children_list' %}" class="nav-link">
              <i class="nav-icon bi bi-person-badge"></i>
              <p>Hau nia oan</p>
            </a>
          </li>
           <!-- APK Versions -->
          <li class="nav-item">
              <a href="{% url 'core:latest_apk' %}" class="nav-link">
                  <i class="nav-icon bi bi-phone"></i>
                  <p>
                      Download APK
                      {% if versions %}
                          <span class="badge bg-danger ms-1">Foun</span>
                      {% endif %}
                  </p>
              </a>
          </li>

        {% elif user.role == "municipality_analyst" %}
          <!-- Municipality Dashboard -->
          <li class="nav-item">
            <a href="{% url 'core:municipality_dashboard' %}" class="nav-link">
              <i class="nav-icon bi bi-bar-chart"></i>
              <p>Dashboard</p>
            </a>
          </li>
        {% elif user.role == "teacher" %}
          <!-- Teacher Dashboard -->
          <li class="nav-item">
            <a href="{% url 'core:teacher_dashboard' %}" class="nav-link">
              <i class="nav-icon bi bi-person-badge"></i>
              <p>Dashboard ba Professor</p>
            </a>
          </li>
                  <!-- Logs (all roles can see) -->
        <li class="nav-item">
          <a href="{% url 'core:logs' %}" class="nav-link">
            <i class="nav-icon bi bi-activity"></i>
            <p>Atividades</p>
          </a>
        </li>
        {% endif %}



        <!-- Logout -->
        <li class="nav-item">
          <a href="{% url 'core:logout' %}" class="nav-link">
            <i class="nav-icon bi bi-box-arrow-right"></i>
            <p>Sair</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>