{% extends "core/base.html" %}
{% block content %}
<div class="container-fluid mt-4">
  <h3>Versaun HAAP</h3>
  {% if user.role == 'moe_admin' %}
    <a href="{% url 'core:upload_apk' %}" class="btn btn-success mb-3">Adisiona HAAP Foun</a>
  {% endif %}

  {% if apks %}
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Versaun</th>
          <th>Download URL</th>
          <th>Ikus?</th>
          <th>Release</th>
          <th>Aksaun</th>
        </tr>
      </thead>
      <tbody>
        {% for apk in apks %}
          <tr>
            <td>{{ apk.version_name }}</td>
            <td>
              <a href="{{ apk.apk_file.url }}"
              class="btn btn-sm btn-success {% if user.role == 'moe_admin' %}disabled{% endif %}"
              download>
              Download
            </a>
            </td>
                    <td>
              {% if apk.is_latest %}
                <span class="badge bg-success">Ikus</span>
              {% else %}
                <span class="badge bg-secondary">Arkivadu</span>
              {% endif %}
            </td>
            <td>{{ apk.released_at|date:"Y-m-d H:i" }}</td>
            <td>
                {% if user.role == 'moe_admin' %}
                  <a href="{% url 'core:edit_apk' apk.id %}" class="btn btn-sm btn-primary">Editar</a>
                
                {%else %}
                  <span class="text-muted fst-italic">N/A</span>
                {% endif %}
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">Sedauk iha versaun HAAP Foun.</div>
  {% endif %}
</div>
{% endblock %}
